*{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-sec{
    float: left;
    display: flex;
    flex-direction: row-reverse;
}

.controls{
    padding: 5px 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.range-controller{
    margin-top: 10px;
}

.range-value{
  margin-top: 7px;
  text-align: center;
}

.range-controller input[type="range"]{
    margin-top: 10px;
    width: 250px ;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgba(3, 150, 3, 0.699);
    border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(1, 85, 1, 0.75);
  }

.btn-gen-numb {
    margin-top: 40px;
    min-width: 250px;
    min-height: 40px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: rgba(0, 150, 0 .44);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(8, 44, 8, 0.44);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .btn-gen-numb::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(250px + 12px);
    min-height: calc(40px + 12px);
    border: 6px solid rgba(0, 150, 0, 0.75);
    box-shadow: 0 0 60px rgba(0, 150, 0 .44);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .btn-gen-numb:hover, .btn-gen-numb:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .btn-gen-numb:hover::before, .btn-gen-numb:focus::before {
    opacity: 1;
  }
  
  .btn-gen-numb::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgba(0, 150, 0, 0.75);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .btn-gen-numb:hover::after, .btn-gen-numb:focus::after {
    animation: none;
    display: none;
  }

  .btn-gen-numb:disabled{
    animation: none;
    opacity: 0.5;
    cursor: wait;
  }
  
  .btn-gen-numb:disabled:after{
    animation: none;
    display: none;
  }
  .btn-gen-numb:disabled::before{
    display: none;
    animation: none;
  }
  .btn-gen-numb:hover:disabled{
    border: none;
  }
  
#web-terminal{
    /* width: 500px; */
    width: calc(90vw - 300px);
    margin: 30px;
    height: calc( (90vw - 300px) * 0.6);
    padding: 10px 15px;
    /* color: white; */
    color: rgb(3, 192, 3);
    font: 0.8rem Inconsolata, monospace;
    background-color: black;
    /* background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    ); */
    min-height: 100px;
    word-wrap: normal;
    overflow: auto;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.425)
    ;}

#web-terminal::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

#web-terminal::-webkit-scrollbar-track {
  --webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

#web-terminal::-webkit-scrollbar-thumb {
  background-color: rgb(3, 150, 3);
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .25) 50%,
                    rgba(255, 255, 255, .25) 75%,
                    transparent 75%,
                    transparent);
}

@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .flex-sec{
        display: flex;
        flex-direction: column;
        float: none;
    }
    
    #web-terminal{
      margin-left: 3vw;
      width: 88vw;
      height: 60vw;
    }
}

@media screen and (min-width: 1000px) {
  *{
    font-size: 25px;
  }

  .btn-gen-numb{
    min-width:400px ;
    padding: 10px 15px;
  }

  .range-controller input[type="range"]{
    width: 350px;
  }

  #web-terminal{
    width: calc(90vw - 400px);
  }
}
